
   * {
    margin: 200;
    padding: 300;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
   
body {
    background:black;
}

img {
    height: 290px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    color: black;
    text-indent: 30px;
    text-transform: uppercase;
}

.myDiv {
    border: 5px outset red;
    background-color: rgb(189, 173, 32);
    text-align: center;
    
}